/* - - - - - | Bases | - - - - - */

:root
{
    --couleur_1: #9356DC ;
	--couleur_2: #FF79DA ;
    --couleur_3: #99E2D0;
}

*
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
	margin: 0px auto;
	font-size: 15px;
}

input, button
{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

a
{
	text-decoration: none;
	color: black;
}

img
{
	display: block;
}

/* - - - - - | Header | - - - - - */

header
{
    box-shadow: 0px 0px 5px #AAA;
    background-color: white;
    position: relative;
    z-index: 20;
}

header a:last-child
{
    background: url("../images/logo.png") center / 196px 34px no-repeat;
    display: block;
    height: 80px;
}

/* - - - - - | Bouton principal | - - - - - */

.bouton_principal
{
    background: linear-gradient(170deg, var(--couleur_2), var(--couleur_1));
    box-shadow: 0px 5px 5px #CACACA;
    border-radius: 25px;
    text-align: center;
    position: relative;
    line-height: 50px;
    margin: 0px auto;
    font-size: 16px;
    color: white;
    display: block;
}

.bouton_principal:hover{box-shadow: 0px 5px 5px #BBB;}

.bouton_principal:hover::before
{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    position: absolute;
    height: 50px;
    width: 100%;
    content: "";
    left: 0px;
    top: 0px;
}

/* - - - - - | Bouton coeur animé | - - - - - */

.favori
{
    margin: 7px 0px 0px 0px;
    cursor: pointer;
    float: right;
    height: 24px;
    width: 24px;
}

.favori div:first-child
{
    background: url("../images/coeur_1.png") center / 24px no-repeat;
    transition: all 200ms;
    position: absolute;
    height: 24px;
    width: 24px;
}

.favori div:last-child
{
    background: url("../images/coeur_2.png") center / 24px no-repeat;
    transition: all 200ms;
    transform: scale(0);
    position: absolute;
    height: 24px;
    width: 24px;
    opacity: 0;
}

.favori:hover div:first-child
{
    transform: scale(0.9);
}

.favori:hover div:last-child
{
    transform: scale(1);
    opacity: 1;
}

/* - - - - - | Pied de page | - - - - - */

footer
{
    background-color: #353535;
    min-height: 200px;
    padding: 20px;
}

footer h2
{
    font-family: 'Shrikhand', cursive;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 19px;
    color: white;
}

footer a
{
    line-height: 25px;
    margin-top: 5px;
    color: white;
    display: block;
}

footer a:hover{color: #DDD;}

footer a svg
{
    margin-right: 5px;
    width: 12px;
}

footer a:hover svg{fill: #DDD;}

@media screen and (max-width: 991px) and (min-width: 768px) /* Tablettes */
{
    /* - - - - - | Header | - - - - - */

    header a:last-child
    {
        height: 90px;
    }

    /* - - - - - | Pied de page | - - - - - */

    footer
    {
        text-align: center;
    }
}

@media screen and (min-width: 992px) /* Ordinateurs */
{
    /* - - - - - | Bases | - - - - - */

    body
    {
        background-color: white;
    }

    /* - - - - - | Header | - - - - - */

    header a:last-child
    {
        height: 100px;
    }

    /* - - - - - | Pied de page | - - - - - */

    footer
    {
        text-align: center;
    }
}