/* - - - - - | Chargement de la page | - - - - - */

.chargement
{
    background: linear-gradient(170deg, #FBEAFA, #EFE3F9);
    animation: page_chargement 2s both;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: 100;
    height: 100%;
    width: 100%;
}

@keyframes page_chargement
{
	0%, 99%
	{
        visibility: visible;
		display: block;
	}
	100%
	{
        visibility: hidden;
		display: none;
	}
}

.chargement img
{
    max-width: 300px;
    width: 60%;
}

.lds-dual-ring
{
    display: inline-block;
    margin-top: 50px;
    height: 80px;
    width: 80px;
}

.lds-dual-ring:after
{
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/* - - - - - | Navigation (Choix du lieu et bouton d'exploration) | - - - - - */

/* Choix du lieu */

nav form
{
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav form svg
{
    margin-right: 20px;
}

nav form input
{
    background-color: transparent;
    line-height: 60px;
    font-weight: 600;
    font-size: 17px;
    color: #555;
    outline: none;
    border: none;
    width: 150px;
}

/* Section d'exploration */

nav .exploration
{
    padding: 40px 20px 55px 20px;
    text-align: center;
}

nav .exploration h1
{
    font-size: 24px;
}

nav .exploration p
{
    margin: 15px 0px 30px 0px;
    font-weight: 300;
    font-size: 18px;
}

.bouton_principal
{
    width: 220px;
}

/* - - - - - | Section concernant le fonctionnement | - - - - - */

.fonctionnement
{
    padding: 50px 20px 65px 20px;
    background-color: white;
}

.fonctionnement h2
{
    font-size: 24px;
}

.fonctionnement a
{
    box-shadow: 0px 5px 20px #DDD;
    background-color: #F6F6F6;
    margin: 25px 0px 0px 10px;
    align-items: center;
    border-radius: 25px;
    position: relative;
    display: flex;
    height: 75px;
}

.fonctionnement a:hover{background-color: #F5EDFF;}
.fonctionnement a:hover svg{fill: var(--couleur_1);}

.fonctionnement a div
{
    background-color: var(--couleur_1);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    line-height: 25px;
    font-size: 13px;
    color: white;
    left: -12px;
    width: 25px;
}

.fonctionnement a svg
{
    margin: 0px 25px 0px 35px;
}

.fonctionnement a p
{
    font-weight: 600;
    font-size: 16px;
}

/* - - - - - | Section concernant les restaurants | - - - - - */

#restaurants
{
    padding: 50px 20px 65px 20px;
}

#restaurants a
{
    box-shadow: 0px 5px 5px #EEE;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: block;
}

#restaurants a > p
{
    background-color: var(--couleur_3);
    border-radius: 5px;
    position: absolute;
    line-height: 32px;
    padding: 0px 15px;
    color: #008766;
    font-weight: 600;
    z-index: 50;
    right: 12px;
    top: 12px;
}

#restaurants a img
{
    object-fit: cover;
    height: 175px;
    width: 100%;
}

#restaurants a:hover img{opacity: 0.8;}

#restaurants a > div
{
    padding: 15px 25px 15px 15px;
    background-color: white;
    height: 80px;
}

#restaurants a > div .favori
{
    position: relative;
    margin-top: 7px;
    float: right;
    height: 24px;
    width: 24px;
}

#restaurants a > div .favori div:first-child
{
    background: url("../images/coeur_1.png") center / 24px no-repeat;
    transition: all 200ms;
    position: absolute;
    height: 24px;
    width: 24px;
}

#restaurants a > div .favori div:last-child
{
    background: url("../images/coeur_2.png") center / 24px no-repeat;
    transition: all 200ms;
    transform: scale(0);
    position: absolute;
    height: 24px;
    width: 24px;
    opacity: 0;
}

#restaurants a > div .favori:hover div:first-child
{
    transform: scale(0.9);
}

#restaurants a > div .favori:hover div:last-child
{
    transform: scale(1);
    opacity: 1;
}

#restaurants a > div h3
{
    font-size: 19px;
}

#restaurants a > div p
{
    margin-top: 5px;
    font-size: 17px;
}

@media screen and (max-width: 991px) and (min-width: 768px) /* Tablettes */
{
    /* - - - - - | Section concernant les restaurants | - - - - - */

    #restaurants
    {
        padding: 50px 0px 20px 20px;
        flex-wrap: wrap;
        display: flex;
    }

    #restaurants h2
    {
        margin-bottom: 30px;
        width: 100%;
    }

    #restaurants a
    {
        margin: 0px 30px 30px 0px;
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 992px) /* Ordinateurs */
{
    /* - - - - - | Navigation (Choix du lieu et bouton d'exploration) | - - - - - */

    /* Choix du lieu */

    nav
    {
        flex-direction: column-reverse;
        display: flex;
    }

    nav form
    {
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* Section d'exploration */

    nav .exploration
    {
        background: url("../images/fond_exploration.jpg") center / cover;
        padding: 70px 0px;
    }

    nav .exploration h1
    {
        font-size: 30px;
    }

    nav .exploration p
    {
        margin: 35px 0px 45px 0px;
        font-size: 19px;
    }

    /* - - - - - | Section concernant le fonctionnement | - - - - - */

    .fonctionnement
    {
        padding: 40px 30px 60px 30px;
        max-width: 1300px;
        margin: 0px auto;
        flex-wrap: wrap;
        display: flex;
    }

    .fonctionnement h2
    {
        margin-bottom: 30px;
        width: 100%;
    }

    .fonctionnement a
    {
        margin: 0px;
        flex: 1;
    }

    .fonctionnement a:nth-child(3)
    {
        margin: 0px 30px;
    }

    /* - - - - - | Section concernant les restaurants | - - - - - */

    #restaurants
    {
        padding: 0px 0px 30px 30px;
        max-width: 1320px;
        margin: 0px auto;
        flex-wrap: wrap;
        display: flex;
    }

    #restaurants h2
    {
        margin-bottom: 30px;
        width: 100%;
    }

    #restaurants a
    {
        margin: 0px 30px 30px 0px;
        width: calc(33% - 30px);
    }
}