/* - - - - - | Header | - - - - - */

header
{
    box-shadow: 0px 0px 5px #AAA;
    background-color: white;
    position: relative;
    z-index: 20;
}

header a
{
    background: url("../images/logo.png") center / 196px 34px no-repeat;
    display: block;
    height: 80px;
}

/* - - - - - | Navigation (Choix du lieu et bouton d'exploration) | - - - - - */

/* Choix du lieu */

nav form
{
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav form svg
{
    margin-right: 20px;
}

nav form input
{
    background-color: transparent;
    line-height: 60px;
    font-weight: 600;
    font-size: 17px;
    color: #555;
    outline: none;
    border: none;
    width: 150px;
}

/* Section d'exploration */

nav .exploration
{
    padding: 40px 20px 55px 20px;
    text-align: center;
}

nav .exploration h1
{
    font-size: 24px;
}

nav .exploration p
{
    margin: 15px 0px 30px 0px;
    font-weight: 300;
    font-size: 18px;
}

nav .exploration a
{
    background: linear-gradient(170deg, var(--couleur_2), var(--couleur_1));
    box-shadow: 0px 5px 5px #CACACA;
    border-radius: 25px;
    position: relative;
    line-height: 50px;
    margin: 0px auto;
    font-size: 16px;
    color: white;
    display: block;
    width: 220px;
}

nav .exploration a:hover{box-shadow: 0px 5px 5px #BBB;}

nav .exploration a:hover::before
{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    position: absolute;
    height: 50px;
    width: 220px;
    content: "";
    left: 0px;
    top: 0px;
}

/* - - - - - | Section concernant le fonctionnement | - - - - - */

.fonctionnement
{
    padding: 50px 20px 65px 20px;
    background-color: white;
}

.fonctionnement h2
{
    font-size: 24px;
}

.fonctionnement a
{
    box-shadow: 0px 5px 20px #DDD;
    background-color: #F6F6F6;
    margin: 25px 0px 0px 10px;
    align-items: center;
    border-radius: 25px;
    position: relative;
    display: flex;
    height: 75px;
}

.fonctionnement a:hover{background-color: #F5EDFF;}
.fonctionnement a:hover svg{fill: var(--couleur_1);}

.fonctionnement a div
{
    background-color: var(--couleur_1);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    line-height: 25px;
    font-size: 13px;
    color: white;
    left: -12px;
    width: 25px;
}

.fonctionnement a svg
{
    margin: 0px 25px 0px 35px;
}

.fonctionnement a p
{
    font-weight: 600;
    font-size: 16px;
}

/* - - - - - | Section concernant les restaurants | - - - - - */

.restaurants
{
    padding: 50px 20px 65px 20px;
}

.restaurants a
{
    box-shadow: 0px 5px 5px #EEE;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: block;
}

.restaurants a > p
{
    background-color: var(--couleur_3);
    border-radius: 5px;
    position: absolute;
    line-height: 32px;
    padding: 0px 15px;
    color: #008766;
    font-weight: 600;
    right: 12px;
    top: 12px;
}

.restaurants a img
{
    object-fit: cover;
    height: 175px;
    width: 100%;
}

.restaurants a > div
{
    padding: 15px 25px 15px 15px;
    background-color: white;
    height: 80px;
}

.restaurants a > div .favori
{
    position: relative;
    margin-top: 7px;
    float: right;
    height: 24px;
    width: 24px;
}

.restaurants a > div .favori div:first-child
{
    background: url("../images/coeur_1.png") center / 24px no-repeat;
    transition: all 200ms;
    position: absolute;
    height: 24px;
    width: 24px;
}

.restaurants a > div .favori div:last-child
{
    background: url("../images/coeur_2.png") center / 24px no-repeat;
    transition: all 200ms;
    transform: scale(0);
    position: absolute;
    height: 24px;
    width: 24px;
    opacity: 0;
}

.restaurants a > div .favori:hover div:first-child
{
    transform: scale(0.9);
}

.restaurants a > div .favori:hover div:last-child
{
    transform: scale(1);
    opacity: 1;
}

.restaurants a > div h3
{
    font-size: 19px;
}

.restaurants a > div p
{
    margin-top: 5px;
    font-size: 17px;
}